@model ContactAjout.Models.ContactModel
@{
    ViewBag.Title = "Ajout de contact";
}

<h2>AjoutContact</h2>

@using (Html.BeginForm())
{
	@Html.LabelFor(model => model.Nom)<br />
	@Html.TextBoxFor(model => model.Nom)<br />
	@Html.ValidationMessageFor(model => model.Nom)<br />
	
	@Html.LabelFor(model => model.Email)<br />
	@Html.TextBoxFor(model => model.Email)<br />
	@Html.ValidationMessageFor(model => model.Email)<br />
	
	@Html.LabelFor(model => model.Commentaire)<br />
	@Html.TextAreaFor(model => model.Commentaire)<br />
	@Html.ValidationMessageFor(model => model.Commentaire)<br />
	
	<button type="submit">Soumettre</button>
}