
@{
    ViewBag.Title = "AjoutContact";
}

<h2>AjoutContact</h2>

@using (Html.BeginForm())
{
	@Html.Label("Nom")<br />
	@Html.TextBox("Nom")<br />
	@Html.ValidationMessage("Nom")<br />
	
	@Html.Label("Email")<br />
	@Html.TextBox("Email")<br />
	@Html.ValidationMessage("Email")<br />
	
	@Html.Label("Commentaire")<br />
	@Html.TextArea("Commentaire")<br />
	@Html.ValidationMessage("Commentaire")<br />
	
	<button type="submit">Soumettre</button>
}